button{
    font-family: 'helvetica neue','helvitica';
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    border: 2px solid yellowgreen;
    background: aquamarine;
    color: rgba(0,0,200, 0.6);
    box-shadow: 3px 3px 1px rgba(0,0,200, 0.4);
    border-radius: 10px;
    padding:  3px 10px;
    display: inline-block;
    cursor: pointer;
}
