div{
    height: 100px;
    width:100px;
    background-color: aqua;
    border:2px solid black;

    /* transition-property: all;
    transition-duration: 2s;
    transition-timing-function: steps(5);
    transition-delay: 1s; */
     transition: all 2s ease-in;
    /* rotate: x 25deg; */
    position: absolute;
    top: 100px;
    left: 100px;
    /* transform: scale(2,2); */
    /* animation-name:newYork;
    animation-timing-function: ease-in;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-iteration-count: 5;
    animation-direction:alternate ; */
}
/* @keyframes newYork{
    from{
        background-color:red;
        left: 0px; 
    }
    to{
        left: 50px;
        background-color:yellow ;
    }
} */
div:hover{
    /* background-color: blueviolet;
    color:white;
     font-size:20px; */
     /* transform: rotate(45deg); */
     transform: translate(100px,500px); 
     /* transform: skew(90deg); */
}
/* div:active{
    background-color:brown;
}  */