*{
 color:white;
}
button{
   color:white;
   background-color:rgb(0,255,255);
font-size:20px;
}
body{
 background-color:#f5426c;
}
#headingone{
  color:blue;
text-decoration:white double underline;
}
.myclass{
   color:magenta;
border:2px solid Dodgerblue;
line-size:2px;
text-transform:lowercase;
display:inline-block;
}
#box{
 background-color:blue;
color:white;
font-family:arial;
}
#h1{
  font-weight:normal;
  border:4px solid greenyellow;
  width:100px;
  height:10vh;
  border-radius:50%;
}
#h2{
  font-weight:400;
}
#h3{
  font-weight:900;
}
#h4{
  font-weight:lighter;
}
div{
  height:100px;
background-color:white;
color:black;
width:100px;
border-width:100px:
border-color:black;
border-style:dashed;
text-align:left;
border-radius:10px;
/* padding-top:25px;
padding-bottom:25px;
padding-right:25px;
padding-left:25px; */
/* padding:30px; */
padding:1px 2px 3px 4px;
/* T R B LEFT */
margin-top:100px;
display:inline;
} 
#box2{
  /* display: none; */
  visibility:hidden;
  background-color:rgba(255,0,0,0);
}
#box1{
  background-color:rgba(255,0,0,0.5);
}
#b1{
  background-color: blueviolet;
 height: 800px;
 width: 400px;
 font-size: 10px;
}
#b2{
  background-color: #40dc19;
  height: 800px;
  width:30% ;
  margin-left: 200px;
  font-size: 2em;
  width:4em ;
}